* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--clr-violet: hsl(257, 40%, 49%);
	--clr-sfmagenta: hsl(300, 69%, 71%);
	--clr-white: hsl(0, 0%, 100%);
}

body {
	margin: 0;
	font-family: 'Inter', sans-serif;
	min-height: 100vh;
	/* background-color: var(--clr-violet); */
	background-repeat: no-repeat;
}

h1,
h2,
h3 {
	line-height: 1.1;
	color: black;
}

p {
	line-height: 1.6;
	font-size: 11px;
	color: black;
}

img,
picture {
	max-width: 100%;
	display: block;
}

ul {
	list-style: none;
}

a {
	cursor: pointer;
	font-size: 11px;
	margin-left: 14px;
	color: #918e9b;
}

/* .App {
	text-align: center;
} */

header {
	background-color: #f55a5a;
	padding: 1em;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.3em;
}

.header-text {
	font-size: 14px;
	font-weight: 500;
}

.card-list {
	padding: 1.5em;
}

.card {
	background-color: white;
	gap: 1em;
	padding-top: 2em;
}

.card-img {
	border-radius: 10px;
}

.card-location {
	display: flex;
	align-items: center;
	margin-top: 0.8em;
}
.card-location h2 {
	margin-left: 8px;
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	font-weight: 400;
}

.location-title {
	margin-bottom: 0.5em;
	margin-top: 0.3em;
	font-size: 25px;
}

.card-date {
	font-size: 11;
	font-weight: 700;
	margin-bottom: 0.3em;
}

.card-text {
	font-weight: 400;
	padding-bottom: 1em;
}

.card:not(:last-child) {
	border-bottom: 0.1px solid #8d8d8d;
}

@media (min-width: 565px) {
	.card-list {
		max-width: 800px;
		margin-inline: auto;
	}
	.card {
		display: flex;

		gap: 1em;
		align-items: center;
		justify-content: center;
		padding-top: 2em;
		padding-bottom: 2em;
	}

	.image--div {
		width: 35%;
	}

	.card--description {
		width: 65%;
	}
	.card-location {
		margin-top: 0;
	}
}
